/*body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

canvas {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(#ff3300, #0033ff);
    position: absolute;
    width: 100%;
    height: 100%;
}

#title {
    width: 100%;
}

h1 {
    min-width: 2em;
    font-size: 3em;
    text-shadow: 2px 2px red, -2px -2px blue, 3px -1px green;
}

#title h1:nth-child(odd) {
    transform: rotate(20deg);
}

#title h1:nth-child(even) {
    transform: rotate(-20deg);
}

.item {
    flex: 1;
    padding: 0px;
    margin: 0px;
}

div.wrapper {
    height: 100%;
    width: 100%;
}

div#content {*/
    /*justify-content: center;*/
    /*z-index: 1;
    position: absolute;*/
    /* align-items: center;
    align-self: center; */
    /*height: 100%;
    width: 100%;
}

div#sm-links {
    width: 100%;
    position: absolute;
    bottom: 5%;
    font-size: 5em;
    mix-blend-mode: difference;
}*/

/* FIXME: The entire front page needs fixing lmao */
